<div class="container"> 
    <div>
        <h1>Chat</h1>
    </div>    
    <div>
        <div class="chat">
            <div class="messageLog" id="messages">
                
            </div>
            <div class="chatbox">
                <input type="text" placeholder="Message" />
                <button>Send</button>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
