<div class="container"> 
    <div>
        <h1>Chat</h1>
    </div>    
    <div>
        <div class="chat">
            <div class="messageLog" id="messages">
                
            </div>
            <div class="chatbox row">
                <div class="col-9">
                    <textarea class="form-control form-control-lg" placeholder="Message"></textarea>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary w-100">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
